In [2]:
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets
import pandas as pd

In [16]:
# Study data files
fires_path = "Data Sets/California_Fire_Incidents.csv"
singles_path = "Data Sets/City_zhvi_single_family.csv"
top_tier_path = "Data Sets/City_zhvi_top_tier.csv"
bottom_tier = "Data Sets/City_zhvi_bottom_tier.csv"


fires_df = pd.read_csv(fires_path)
singles_df = pd.read_csv(singles_path)
top_df = pd.read_csv(top_tier_path)
bottom_df = pd.read_csv(bottom_tier)


fires_df.head()

,AcresBurned,Active,AdminUnit,AirTankers,ArchiveYear,CalFireIncident,CanonicalUrl,ConditionStatement,ControlStatement,Counties,...,SearchKeywords,Started,Status,StructuresDamaged,StructuresDestroyed,StructuresEvacuated,StructuresThreatened,UniqueId,Updated,WaterTenders
0,257314.0,False,Stanislaus National Forest/Yosemite National Park,NaN,2013,True,/incidents/2013/8/17/rim-fire/,NaN,NaN,Tuolumne,...,"Rim Fire, Stanislaus National Forest, Yosemite...",2013-08-17T15:25:00Z,Finalized,NaN,NaN,NaN,NaN,5fb18d4d-213f-4d83-a179-daaf11939e78,2013-09-06T18:30:00Z,NaN
1,30274.0,False,USFS Angeles National Forest/Los Angeles Count...,NaN,2013,True,/incidents/2013/5/30/powerhouse-fire/,NaN,NaN,Los Angeles,...,"Powerhouse Fire, May 2013, June 2013, Angeles ...",2013-05-30T15:28:00Z,Finalized,NaN,NaN,NaN,NaN,bf37805e-1cc2-4208-9972-753e47874c87,2013-06-08T18:30:00Z,NaN
2,27531.0,False,CAL FIRE Riverside Unit / San Bernardino Natio...,NaN,2013,True,/incidents/2013/7/15/mountain-fire/,NaN,NaN,Riverside,...,"Mountain Fire, July 2013, Highway 243, Highway...",2013-07-15T13:43:00Z,Finalized,NaN,NaN,NaN,NaN,a3149fec-4d48-427c-8b2c-59e8b79d59db,2013-07-30T18:00:00Z,NaN
3,27440.0,False,Tahoe National Forest,NaN,2013,False,/incidents/2013/8/10/american-fire/,NaN,NaN,Placer,...,"American Fire, August 2013, Deadwood Ridge, Fo...",2013-08-10T16:30:00Z,Finalized,NaN,NaN,NaN,NaN,8213f5c7-34fa-403b-a4bc-da2ace6e6625,2013-08-30T08:00:00Z,NaN
4,24251.0,False,Ventura County Fire/CAL FIRE,NaN,2013,True,/incidents/2013/5/2/springs-fire/,Acreage has been reduced based upon more accur...,NaN,Ventura,...,"Springs Fire, May 2013, Highway 101, Camarillo...",2013-05-02T07:01:00Z,Finalized,6.0,10.0,NaN,NaN,46731fb8-3350-4920-bdf7-910ac0eb715c,2013-05-11T06:30:00Z,11.0

In [14]:
singles_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,1996-02-29,...,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,209351.0,208772.0,...,672936.0,672209.0,671450.0,671253.0,671526.0,671719.0,671601.0,672261.0,672389.0,673213.0
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,193916.0,193960.0,...,759513.0,763224.0,766002.0,770182.0,774078.0,780205.0,785793.0,789989.0,790037.0,788920.0
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,95454.0,95554.0,...,192561.0,193168.0,193616.0,194133.0,194270.0,194724.0,195586.0,196630.0,197445.0,197941.0
3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,127917.0,127789.0,...,228316.0,228191.0,228145.0,228217.0,228561.0,229004.0,229648.0,230000.0,230383.0,230957.0
4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,94992.0,94958.0,...,186918.0,187543.0,188271.0,188410.0,188913.0,189028.0,189564.0,189684.0,189929.0,190068.0

In [17]:
top_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,1996-02-29,...,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,360437.0,359463.0,...,1159081.0,1155710.0,1152952.0,1151860.0,1150843.0,1149625.0,1147147.0,1146988.0,1145703.0,1145768.0
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,369516.0,369755.0,...,1463186.0,1468688.0,1472616.0,1479035.0,1485192.0,1495670.0,1504868.0,1511249.0,1509761.0,1506431.0
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,204412.0,204513.0,...,374714.0,375528.0,375687.0,375953.0,375563.0,375973.0,377027.0,378328.0,379188.0,379639.0
3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,253876.0,253589.0,...,463247.0,462900.0,462366.0,461987.0,462121.0,462767.0,463652.0,463953.0,464035.0,464325.0
4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,161869.0,161767.0,...,286581.0,287299.0,288217.0,288262.0,288800.0,288802.0,289417.0,289523.0,289851.0,290157.0

In [18]:
bottom_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,1996-02-29,...,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,107914.0,107633.0,...,390495.0,390303.0,390239.0,390583.0,391106.0,391543.0,391601.0,392127.0,392380.0,393022.0
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,119994.0,120036.0,...,516863.0,519660.0,521845.0,525045.0,528211.0,532816.0,537040.0,540213.0,540684.0,540447.0
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,58268.0,58347.0,...,135868.0,136548.0,137003.0,137489.0,137704.0,138195.0,138957.0,139827.0,140528.0,141058.0
3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,69323.0,69262.0,...,140082.0,140065.0,140055.0,140088.0,140298.0,140372.0,140553.0,140503.0,140677.0,140976.0
4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,61331.0,61361.0,...,128534.0,129005.0,129544.0,129547.0,129875.0,129939.0,130274.0,130151.0,130136.0,130068.0